<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<intercept-url pattern="/allocate**" access="ROLE_ADMIN" />
		<form-login login-page="/login.html" default-target-url="/allocate.html"
			authentication-failure-url="/loginFailure.html" username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/logout.html" />
		<!-- enable csrf protection -->
		<!-- <csrf/> -->
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<!-- username and password for MySql of your system -->
				<user name="ab" password="a" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>